<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/normalize.css' />

    <title>Mercado Liebre</title>
</head>

<body>
    
    <form action="resultado.html" method="post" class="create_login">

        <div class="nombre">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" minlength="4" class="control">
        </div>
        <div class="clave">
            <input type="password" name="clave" id="clave" placeholder="Elegi tu contraseña" minlength="4" class="control">
        </div>
        <div class="enviar">
            <button type="submit" class="boton_input">enviar</button>
        </div>

    </form>
</body>