* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

main {

    width: 90%;
text-align: center;}
nav {
    display: none;
}







      header {
    background-color:  #EAC926;;
}
    .logoybarra { 
    display: flex;
   padding-top: 5vw;
   padding-left: 5vw;
   padding-right: 5vw;

}
.logo {
    width: 45vw;
}
.buscador {

    position: relative;
    top: 10px;
    right: -15px;
}

.cuotas {
    text-align: center; 
    margin-top: 5%;
    margin-bottom: 5%;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
    
    }
.burger-menu {
    background-color:#1259c3 ;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin:auto;
    position: relative;
    bottom: 5px;}
         h3 {
    font-size: 24px;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }






.precio {
    font-size: 18px;
    display: inline;
    position: relative;
    right:30%;
}

.descuentos {
    font-size: 16px;
    display: inline;
    position: relative;
    right: 25%;
}
p {
    font-size: 12px;
}
h4 {
    font-size: 16px;
    display: none;
}






.descuentos {
    color: #39b54a;
}
.fa-truck {
    position: relative;
    color:#39b54a;
    padding: 8px 6px;
    border: solid 1px #39b54a;
    border-radius: 50%;
    top: -25px;
    right: 15%;
}






footer {

    text-align: center;
}

.fa-user-shield {
    color: #1259c3;
    font-size: 3em;
}
.fa-gift {
    color: #1259c3;
    font-size: 3em;

}
.fa-credit-card {
    color: #1259c3;
    font-size: 3em;
}

@media (min-width: 769px){
    .buscador-desktop {
        display: flex;
       justify-content: space-around
       border: red 2px dashed;


       
    }
    .buscador {
    
        margin-top: 40px;
        position: relative;
        right:  -25px;
        top: -15px;
    }
    .search {
        width: 220px;
        height: 20px;


    }
    .logo {
        width: 50%;
    }
    .cuotas {
        position: relative;
        right:  25px;
        top: 30px;

    }
  
  


    


    nav {
     display: flex;

 justify-content: space-around;
 padding-top: 25px;
 padding-bottom: 10px;
 
    }
    .primerul {
        display: flex;
        font-size: 20px;
       justify-content: space-around


    }
    .segundoul {
        display: flex;
        font-size: 20px;
     


    }
    .burger-menu {
        display: none;
    }




   

    @media (min-width: 1200px){

.basado {
    display: flex;
    flex: 1 1 20%;
    height: auto;
    margin: 20px 20px 20px 20px ;
justify-content: space-between;
position: relative;
right: -55px;}
.basado2 {
    display: flex;
    flex: 1 1 20%;
    height: auto;
    margin: 20px 20px 20px 20px ;
justify-content: space-between;
position: relative;
right: -55px;}
.main__article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
h3 {
    text-align: start;
    padding: 15px;
}
nav {
    display: flex;
   justify-content: space-between;
  
}
.buscador-desktop {
    display: flex;
    justify-content: space-between;
}
.buscador {

 border: red 3px dashed;
}
footer h3 {
    text-align: center;
}
.search {
    width: 550px;
    height: 40px;
}











      


    



